---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from 'astro-icon'
---

<MainLayout title="About" description="About Me">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Just Another Security Guy sharing thoughts and helping beginners in Security . . .

      </p>
      <p>
      <Link
        href="https://www.linkedin.com/in/abhinavkakku/"
        style="primary"
        text="Contact Me"
        icon={{
          name: "openmoji:linkedin",
          side: "left",
        }}
      /> 
    </div>
  </section>
</MainLayout>
