---
import { getCollection, CollectionEntry } from "astro:content";

// component imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
  limit: 6,
});
---

<MainLayout title="Ethical Hacking Tutorials">
  
    <div align="center">
        <h1 class="h1">Ethical Hacking Tutorials</h1>
        <p>
            Learn Offensive and Defensive Security/Hacking, Web Application Security, Reverse Engineering, Hacking101
        </p>
        <Link href="/about/" style="secondary" text="👋 About Me" />
    </div>
  
  <section class="container" aria-label="New Blog Posts">
    <h2 class="h2">New Blog Posts</h2>
    <div class="post-container">
      {
        formattedPosts.map((post) => (
          <PostCard data={post.data} url={post.slug} tagType="h3" />
        ))
      }
    </div>
  </section>

</MainLayout>
